<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Coding Test</title>
</head>
<body>
    <div class="container">
        <div class="left-container">
            <div class="inner-left-cont">
                <p class="quantity">Quantity</p>
                <input type="number" placeholder="Type Here" name="quantityinput" id="input">
            </div>
        </div>
        <div class="right-container">
        
            <ul class="items-list">
                <% for (let i = 1; i <= 3; i++) { %>
                    <%- include('./partials/item', {num: i}) %>
                <% }; %>
            </ul>
        </div>
        <div class="bottom-left-box">
            <p>OBJ1</p>
        </div>
        <div class="bottom-right-box">
            <p>OBJ3</p>
        </div>
    </div>
    <script src="/js/index.js"></script>
</body>
</html>